/*
This file is part of NppEventExec
Copyright (C) 2016 Mihail Ivanchev

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program. If not, see <http://www.gnu.org/licenses/>.
*/
#include "base.h"
#include "resource.h"

1 RT_MANIFEST resources\manifest.xml

IDB_BUTTONS BITMAP "resources\\icons.bmp"
IDB_BUTTONS_MASKED BITMAP "resources\\icons-masked.bmp"
IDB_BUTTONS_DISABLED BITMAP "resources\\icons-disabled.bmp"

IDD_ABOUT DIALOG DISCARDABLE 0, 0, 270, 130
STYLE DS_MODALFRAME | DS_SETFONT | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION PLUGIN_NAME
FONT 8, "MS Shell Dlg"
BEGIN
	CTEXT			L"", IDC_ST_VERSION, 0, 6, 0, 10, SS_LEFT | SS_OWNERDRAW | WS_GROUP

    CTEXT			PLUGIN_COPYRIGHT, IDC_ST_COPYRIGHT, 0, 21, 0, 10, SS_LEFT | SS_OWNERDRAW | WS_GROUP

    PUSHBUTTON      L"Project's page on GitHub", IDC_BT_WEB_PAGE, 0, 36, 0, 10, BS_PUSHBUTTON | BS_OWNERDRAW | WS_TABSTOP

	LTEXT			L"Licensed under the ", IDC_ST_LICENSE, 0, 51, 0, 10, SS_LEFT | SS_OWNERDRAW | WS_GROUP
    PUSHBUTTON		PLUGIN_LICENSE, IDC_BT_LICENSE, 0, 51, 0, 10, BS_PUSHBUTTON | BS_OWNERDRAW | WS_TABSTOP

    LTEXT           L"Using modified icons from the set ", IDC_ST_ICONS_USING, 0, 66, 0, 10, SS_LEFT | SS_OWNERDRAW | WS_GROUP
    PUSHBUTTON      L"16x16 free application icons", IDC_BT_ICONS_SET, 0, 66, 0, 10, BS_PUSHBUTTON | BS_OWNERDRAW | WS_TABSTOP

    LTEXT           L"by ", IDC_ST_ICONS_BY, 0, 76, 0, 10, SS_LEFT | SS_OWNERDRAW | WS_GROUP
    PUSHBUTTON      L"Aha-Soft", IDC_BT_ICONS_AHASOFT, 0, 76, 0, 10, BS_PUSHBUTTON | BS_OWNERDRAW | WS_TABSTOP
    LTEXT           L". The icon set is distributed under the license", IDC_ST_ICONS_DISTRIBUTED, 0, 76, 0, 10, SS_LEFT | SS_OWNERDRAW | WS_GROUP

    PUSHBUTTON      L"Creative Commons Attribution 3.0 United States (CC BY 3.0 US)", IDC_BT_ICONS_LICENSE, 0, 86, 0, 10, BS_PUSHBUTTON | BS_OWNERDRAW | WS_TABSTOP

	DEFPUSHBUTTON	L"&OK", IDOK, 110, 109, 50, 14
END

IDD_QUEUE DIALOG DISCARDABLE 0, 0, 300, 158
STYLE DS_MODALFRAME | DS_SETFONT | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_SIZEBOX
CAPTION PLUGIN_NAME
FONT 8, "MS Shell Dlg"
BEGIN
	LTEXT			L"", IDC_STATIC, 7, 7, 346, 8, SS_SIMPLE
    CONTROL			L"", IDC_LV_QUEUE, WC_LISTVIEW, WS_TABSTOP | WS_BORDER | LVS_REPORT | LVS_SHOWSELALWAYS | LVS_OWNERDATA | LVS_NOSORTHEADER, 7, 7, 286, 98

    PUSHBUTTON      L"<< &Basic", IDC_BT_MODE, 7, 109, 50, 14
	PUSHBUTTON		L"&Abort", IDC_BT_ABORT, 61, 109, 50, 14

    PUSHBUTTON		L"&Close", IDCANCEL, 125, 137, 50, 14
END

IDD_RULES DIALOG DISCARDABLE 0, 0, 360, 174
STYLE DS_MODALFRAME | DS_SETFONT | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_SIZEBOX
CAPTION ""
FONT 8, "MS Shell Dlg"
BEGIN
	CONTROL			L"", IDC_LV_RULES, WC_LISTVIEW, WS_TABSTOP | WS_BORDER | LVS_REPORT | LVS_SHOWSELALWAYS | LVS_OWNERDATA | LVS_NOSORTHEADER, 0, 0, 360, 128

	PUSHBUTTON		L"&Reset", IDC_BT_RESET, 54, 132, 50, 14
	PUSHBUTTON		L"&Save", IDC_BT_SAVE, 0, 132, 50, 14
	PUSHBUTTON		L"&Close", IDCANCEL, 160, 160, 50, 14
END

IDD_EDIT DIALOG DISCARDABLE 0, 0, 320, 182
STYLE DS_MODALFRAME | DS_SETFONT | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_SIZEBOX
CAPTION L"Edit rule"
FONT 8, "MS Shell Dlg"
BEGIN
	LTEXT			L"Name: *", IDC_ST_NAME, 7, 10, 69, 8, SS_SIMPLE
	EDITTEXT		IDC_ED_NAME, 80, 7, 233, 14, WS_TABSTOP | WS_BORDER | ES_LEFT | ES_AUTOHSCROLL
	LTEXT			L"^ The value cannot be empty.", IDC_ST_NAME_ERROR, 80, 23, 233, 8

	LTEXT			L"Event:", IDC_ST_EVENT, 7, 41, 69, 8, SS_SIMPLE
	COMBOBOX		IDC_CB_EVENT, 80, 38, 233, 14, WS_TABSTOP | CBS_DROPDOWNLIST

	LTEXT			L"Regex:", IDC_ST_REGEX, 7, 62, 69, 8, SS_SIMPLE
	EDITTEXT		IDC_ED_REGEX, 80, 59, 233, 14, WS_TABSTOP | WS_BORDER | ES_LEFT | ES_AUTOHSCROLL
	LTEXT			L"^ The value is not a valid regex.", IDC_ST_REGEX_ERROR, 80, 75, 233, 8

	LTEXT			L"NppExec command: *", IDC_ST_COMMAND, 7, 93, 69, 8, SS_SIMPLE
	EDITTEXT		IDC_ED_COMMAND, 80, 90, 233, 14, WS_TABSTOP | WS_BORDER | ES_LEFT | ES_AUTOHSCROLL
	LTEXT			L"^ The value cannot be empty.", IDC_ST_COMMAND_ERROR, 80, 106, 233, 8

	AUTOCHECKBOX	L"Enabled?", IDC_BT_ENABLED, 7, 121, 60, 10
	AUTOCHECKBOX	L"Run in the foreground (block UI)?", IDC_BT_FOREGROUND, 7, 137, 160, 10

	PUSHBUTTON		L"&Apply", IDC_BT_APPLY, 108, 161, 50, 14, BS_DEFPUSHBUTTON | WS_TABSTOP
	PUSHBUTTON		L"&Cancel", IDCANCEL, 162, 161, 50, 14
END

STRINGTABLE
BEGIN
	IDS_TOOLTIP_RULE_MOVEUP, L"/Move the selected rule one position up//"
	IDS_TOOLTIP_RULE_MOVEDOWN, L"/Move the selected rule one position down//"
	IDS_TOOLTIP_RULE_ADD, L"/Add a new rule//"
	IDS_TOOLTIP_RULE_COPY, L"/Copy the selected rule//"
	IDS_TOOLTIP_RULE_REMOVE, L"/Remove the selected rule//"
	IDS_TOOLTIP_RULE_EDIT, L"/Edit the selected rule//"
END

VS_VERSION_INFO VERSIONINFO
 FILEVERSION VERSION_MAJOR, VERSION_MINOR, VERSION_PATCH, 0
 PRODUCTVERSION VERSION_MAJOR, VERSION_MINOR, VERSION_PATCH, 0
 FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
#ifdef DEBUG
#define FILEFLAGS VS_FF_DEBUG
#else
#define FILEFLAGS 0
#endif
 FILEOS VOS__WINDOWS32
 FILETYPE VFT_DLL
 FILESUBTYPE VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "Comments", L"To file is intended to be used with Notepad++. Make sure the file name is not modified and the DLL is located in the correct directory (e.g. <Notepad++ base dir.>\\plugin)."
            VALUE "CompanyName", L"<none>"
			VALUE "FileDescription", PLUGIN_DESCRIPTION
            VALUE "FileVersion", VERSION_STRING
            VALUE "InternalName", PLUGIN_NAME
            VALUE "LegalCopyright", PLUGIN_COPYRIGHT
            VALUE "OriginalFilename", PLUGIN_MODULE
            VALUE "ProductName", PLUGIN_DESCRIPTION
            VALUE "ProductVersion", VERSION_STRING
            VALUE "SpecialBuild", "UNICODE"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
